div#kargoField{

    background-color: rgb(247,248,249);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

input#searchBar{

    height: 50px ;
    background: url("https://img-kahvedunyasi.mncdn.com/kahvedunyasi/static//img/icons/icon-search.svg") no-repeat;
    background-position: right;
    background-size: 20px;
    margin-right: 10px;

}

button.navbarLink{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #6c0c33;

}

div#KahveCard{

    background: url("https://img-kahvedunyasi.mncdn.com/kahvedunyasi/static/img/home-categories/coffee.jpg") no-repeat;
    background-size: cover;

}

div#CikolataCard{

    background: url("https://img-kahvedunyasi.mncdn.com/kahvedunyasi/static/img/home-categories/chocolate.jpg?v=2") no-repeat;
    background-size: cover;

}

div#AksesuarCard{

    background: url("https://img-kahvedunyasi.mncdn.com/kahvedunyasi/static/img/home-categories/accesory.jpg") no-repeat;
    background-size: cover;

}

div#FitLezzetlerCard{

    background: url("https://img-kahvedunyasi.mncdn.com/kahvedunyasi/static/img/home-categories/diet.jpg") no-repeat;
    background-size: cover;

}

div#FirsatlarCard{

    background: url("https://img-kahvedunyasi.mncdn.com/kahvedunyasi/static/img/home-categories/promo.jpg") no-repeat;
    background-size: cover;

}







