div#kargoField {

  background-color: rgb(247, 248, 249);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

input#searchBar {

  height: 50px;
  background: url("https://img-kahvedunyasi.mncdn.com/kahvedunyasi/static//img/icons/icon-search.svg") no-repeat;
  background-position: right;
  background-size: 20px;
  margin-right: 10px;

}

button.navbarLink {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #6c0c33;

}

div#KahveCard {

  background: url("https://img-kahvedunyasi.mncdn.com/kahvedunyasi/static/img/home-categories/coffee.jpg") no-repeat;
  background-size: cover;

}

div#CikolataCard {

  background: url("https://img-kahvedunyasi.mncdn.com/kahvedunyasi/static/img/home-categories/chocolate.jpg?v=2") no-repeat;
  background-size: cover;

}

div#AksesuarCard {

  background: url("https://img-kahvedunyasi.mncdn.com/kahvedunyasi/static/img/home-categories/accesory.jpg") no-repeat;
  background-size: cover;

}

div#FitLezzetlerCard {

  background: url("https://img-kahvedunyasi.mncdn.com/kahvedunyasi/static/img/home-categories/diet.jpg") no-repeat;
  background-size: cover;

}

div#FirsatlarCard {

  background: url("https://img-kahvedunyasi.mncdn.com/kahvedunyasi/static/img/home-categories/promo.jpg") no-repeat;
  background-size: cover;

}


/* --------- */




.product {
  background-color: #eee
}

.brand {
  font-size: 13px
}

.act-price {
  color: red;
  font-weight: 700
}

.dis-price {
  text-decoration: line-through
}

.about {
  font-size: 14px
}

.color {
  margin-bottom: 10px
}

label.radio {
  cursor: pointer
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none
}

label.radio span {
  padding: 2px 9px;
  border: 2px solid #ff0000;
  display: inline-block;
  color: #ff0000;
  border-radius: 3px;
  text-transform: uppercase
}

label.radio input:checked+span {
  border-color: #ff0000;
  background-color: #ff0000;
  color: #fff
}


.cart i {
  margin-right: 10px
}


@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }
